<button mat-raised-button color="primary" (click)="addNhanvien()">Thêm nhân viên
</button>

<table id="customers" style="border-collapse: collapse;">
    <tr>
      <th>Thao tác</th>
      <th>
        Mã nhân viên
      </th>
      <th>Họ tên</th>
      <th>Ngày sinh</th>
      <th>GioiTinh</th>
      <th>MaPhongBan</th>
      <th>MaChucVuNV</th>
      <th>HeSoLuong</th>
    </tr>
    <tr *ngFor="let nhanvien of nhanviens">
      <td>
        <mat-icon
          style="cursor: pointer;"
          title="Nhấn vào để xóa"
          (click)="deleteNhanvien(nhanvien.ID)"
        >
          clear
        </mat-icon>
        &nbsp;
        <mat-icon
          style="cursor: pointer;"
          title="Nhấn vào để soạn"
          (click)="editNhanvien(nhanvien.ID)"
        >
          create
        </mat-icon>
      </td>
      <td>{{ nhanvien?.ID }}</td>
      <td>{{ nhanvien?.HoTen }}</td>
      <td>{{ nhanvien?.NgaySinh }}</td>
      <td>{{ nhanvien?.GioiTinh }}</td>
      <td>{{ nhanvien?.MaChucVuNV}}</td>
      <td>{{ nhanvien?.MaPhongBan}}</td>
      <td align="center">
      </td>
      <!-- <mat-icon style="cursor: pointer;" (click)="sortByCode('down')">
        arrow_downward
      </mat-icon>
      <mat-icon style="cursor: pointer;" (click)="sortByCode('up')">
        arrow_upward
      </mat-icon> -->
    </tr>
  </table>