<div class="container">
    <h1>Nhập thêm 1 sinh viên mới</h1>
    <form [formGroup]="nhanvienForm">
      <mat-form-field class="form-header">
        <mat-label>ID</mat-label>
        <input matInput placeholder="" formControlName="ID" require />
      </mat-form-field>
      <mat-form-field class="form-header">
        <mat-label>Họ tên</mat-label>
        <input matInput placeholder="" formControlName="HoTen" require />
      </mat-form-field>
      <mat-form-field class="form-header">
        <mat-label>Giới tính</mat-label>
        <input matInput placeholder="" formControlName="GioiTinh" require />
      </mat-form-field>
      <mat-form-field class="form-header">
        <mat-label>Ngày tháng năm sinh</mat-label>
        <input   matInput placeholder="" formControlName="NgaySinh" require />
      </mat-form-field>
      <mat-form-field class="form-header">
        <mat-label>Mã phòng</mat-label>
        <input matInput placeholder="" formControlName="MaPhongBan" require />
      </mat-form-field>
      <mat-form-field class="form-header">
        <mat-label>Mã chức vụ</mat-label>
        <input matInput placeholder="" formControlName="MaChucVu" require />
      </mat-form-field>
      <mat-form-field class="form-header">
        <mat-label>Hệ số lương</mat-label>
        <input matInput placeholder="" formControlName="HeSoLuong" require />
      </mat-form-field>
      <br />
      <button
        type="submit"
        class="btn btn-success"
        [disabled]="!nhanvienForm.valid"
        (click)="saveAndGotoList()"
      >
        Lưu và trở về danh sách
      </button>
      &nbsp;
      <button
        type="submit"
        class="btn btn-success"
        [disabled]="!nhanvienForm.valid"
        (click)="save()"
      >
        Lưu <span *ngIf="id === 0">và nhập mới</span>
      </button>
    </form>
  </div>