<div class="container">
  <h1>Nhập thêm 1 nhân viên mới</h1>
  <form [formGroup]="nhanvienForm">
    <mat-label>ID</mat-label>
    <input formControlName="ID" type="text" [value]="nhanvienForm.get('ID')?.value" required> <br>
    <mat-label>Họ tên</mat-label>
    <input formControlName="HoTen" type="text" [value]="nhanvienForm.get('HoTen')?.value" required> <br>
    <mat-label>Giới tính</mat-label>
    <input formControlName="GioiTinh" type="text" [value]="nhanvienForm.get('GioiTinh')?.value" required> <br>
    <mat-label>Ngày tháng năm sinh</mat-label>
    <input formControlName="NgaySinh" type="date" [value]="nhanvienForm.get('NgaySinh')?.value" required> <br>
    <mat-label>Mã phòng</mat-label>
    <input formControlName="MaPhongBan" type="text" [value]="nhanvienForm.get('MaPhongBan')?.value" required> <br>
    <mat-label>Mã chức vụ</mat-label>
    <input formControlName="MaChucVu" type="text" [value]="nhanvienForm.get('MaChucVu')?.value" required> <br>
    <mat-label>Hệ số lương</mat-label>
    <input formControlName="HeSoLuong" type="text" [value]="nhanvienForm.get('HeSoLuong')?.value" required> <br>
  </form>
  
  
      <button
        type="submit"
        class="btn btn-success"
        [disabled]="!nhanvienForm.valid"
        (click)="saveAndGotoList()"
      >
        Lưu và trở về danh sách
      </button>
      &nbsp;
      <button
        type="submit"
        class="btn btn-success"
        [disabled]="!nhanvienForm.valid"
        (click)="save()"
      >
        Lưu <span *ngIf="id === 0">và nhập mới</span>
      </button>

  </div>